.Text1{
    text-align: center;
    color: white;
}
body{
    background-image: url(download.jpg);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}
.Text2{
    color: white;
    text-align: center;
}
#btn_enter{
    color: rgb(92, 61, 247);
    background-color: rgb(186, 186, 186);
    margin: auto;
    width: 100px;
    padding: 10px;
    border-radius: 10px;
}
#img{
    border-radius: 150px;
}
.input{
    border-radius: 50px;
    background-color: rgb(183, 183, 183);
}